<h3 class="center-align page-title">CREATE A NEW PROJECT</h3>

<div class="row">
  <%= form_for @project, url: projects_path, class: "col s12" do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :name %>
        <%= f.text_field :name, type: "text", length: 21, class: "validate"%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :description %>
        <%= f.text_area :description, class: "materialize-textarea validate" %>
      </div>
    </div>
    <%= f.submit 'Create Project', class: "btn white-text" %>
  <% end %>
</div>
