<nav class="">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12 m12 l10  offset-l1">
        <ul id="nav-mobile" class="left">
          <li class="hide-on-med-and-down">
            <%= link_to 'Getting Started', root_path %>
          </li>
          <li><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to 'New Project', new_project_path %></li>
          <li><%= link_to 'My Notebooks', 'https://jupyterhub.chatto.io/', target: '_blank' %></li>
          <li class="hide-on-med-and-down"><%= link_to 'Visual Query', 'http://mimic-visualquery.herokuapp.com/', target: '_blank' %></li>
        </ul>

        <ul id="right-nav" class="right">
          <%- if current_user.authenticated? -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li id="nav-image" class="hide-on-med-and-down">
              <%= image_tag(avatar_url(current_user, 64), size: "64x64") %>
            </li>
          <%- else -%>
            <li><a class="modal-trigger" id="sign-in" href="#modal1">Sign In</a></li>
          <%- end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h3>SIGN IN WITH GITHUB</h3>
    <p>We currently require sign in with github in order to give you access to project repositories.</p>
    <a class='btn white-text' href="/users/auth/github">
      <i class="fa fa-github fa-2x"></i>
      Sign in with Github
    </a>
  </div>
</div>

