<!DOCTYPE html>
<html>
<head>
  <title>ChattoHub</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <%= render 'layouts/nav' %>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
     <p><%= value %></p>
    </div>
  <%- end -%>

  <%= yield :hero %>

  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
